{
    debug
}
:80 {
    log {
    }
    # Redirect to https
    redir https://{host}{uri} permanent
}

# localhost https
localhost:443, host.docker.internal:443 {
    log {
    }
    tls internal
    root * /var/elmclient
    file_server

    # Pass /rest/ to Postgrest docker container.
    # Use the $POSTGREST_PORT environment variable to set the port.
    route /rest/* {
        uri strip_prefix /rest
        reverse_proxy postgrest:{$POSTGREST_PORT}
    }

    # Route /auth to authapp
    route /auth/* {
        # uri strip_prefix /auth
        reverse_proxy authapp:{$AUTHAPP_PORT}
    }
    route /cas/* {
        # uri strip_prefix /auth
        reverse_proxy authapp:{$AUTHAPP_PORT}
    }
}