// $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
// @import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
// can add Boostrap overrides, additional Sass/CSS below...
$small-break: 600px;

html {
    max-width: 900px;
}

/* source-code-pro-regular - latin */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/source-code-pro-v10-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Source Code Pro'), local('SourceCodePro-Regular'),
        url('../fonts/source-code-pro-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/source-code-pro-v10-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/source-code-pro-v10-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/source-code-pro-v10-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/source-code-pro-v10-latin-regular.svg#SourceCodePro') format('svg');
    /* Legacy iOS */
}

/* source-code-pro-700 - latin */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/source-code-pro-v10-latin-700.eot');
    /* IE9 Compat Modes */
    src: local('Source Code Pro Bold'), local('SourceCodePro-Bold'),
        url('../fonts/source-code-pro-v10-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/source-code-pro-v10-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/source-code-pro-v10-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/source-code-pro-v10-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/source-code-pro-v10-latin-700.svg#SourceCodePro') format('svg');
    /* Legacy iOS */
}


body {
    font-family: "Source Code Pro", fixed;
    padding: 0.5rem;
    padding-bottom: 2rem;
}

.meeting-draft {
    padding-left: 1rem;
    color: #DD514C;
}

.btn-icon {
    padding-left: 1rem;
}

select.engagement {
    margin-left: 1rem;
}

span.saved-quiz-option {
    background-color: #999;
    margin-left: 1rem;
    color: #fff;
    padding: 0 0.25rem;
    font-size: small;
}

table.dashboard {
    table-layout: auto;
    // border-spacing: 1rem 0.5rem;
    vertical-align: top;
    text-align: left;
    border-collapse: collapse;

    tbody tr:nth-child(odd) {
        background-color: #f6f6f6;
    }

    td,
    th {
        padding: 0.25rem 0.25rem 0 1rem
    }

    @media only screen and (max-width: $small-break) {

        th.secondary,
        td.secondary {
            display: none;
        }
    }

}

pre,
code {
    font-size: 100%;
}

code {
    background-color: #eee;
}

// .classdate {
//     background-color: #000;
//     color: #fff;
// }
@media only screen and (max-width: $small-break) {
    h1 {
        font-size: 1.25rem;
    }

    ul {
        padding-left: 1rem;
    }
}
