[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
ldap3 = "*"
psycopg2 = "*"
jinja2 = "*"
requests = "*"
ruamel-yaml = "*"

[requires]
python_version = "3.9"
