html
  head
    title= title
  body
    h1= message
    form(method='GET')
      div
        div
          label(for='id') Netid:
        div
          input(type='text', name='id')
      div
          div
            label(for='service') Service:
          div
            input(type='text', name='service', value=service)
      div
        button(type='submit') Submit